.card {
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  padding: var(--space-4);
  margin-bottom: var(--space-4);
  overflow: hidden;
  flex-shrink: 0;

  .form-group:last-child {
    margin-bottom: 0;
  }

  &.card-list {
    padding: 0 var(--space-4);
  }

  &.overflow-visible {
    overflow: visible !important;
  }
}
