.pwd-strength-container {
  margin-top: var(--space-2);
}

.pwd-strength-bar {
  background-color: var(--border);
  height: 8px;
  border-radius: var(--radius-xs);
  overflow: hidden;
  position: relative;
}

.pwd-strength-progress {
  height: 100%;
  transition: width var(--transition-slow), var(--transition-colors);
  width: 0%;

  &.pwd-strength-very-weak {
    width: 20%;
    background-color: var(--strength-very-weak);
  }

  &.pwd-strength-weak {
    width: 40%;
    background-color: var(--strength-weak);
  }

  &.pwd-strength-fair {
    width: 60%;
    background-color: var(--strength-medium);
  }

  &.pwd-strength-strong {
    width: 80%;
    background-color: var(--strength-strong);
  }

  &.pwd-strength-very-strong {
    width: 100%;
    background-color: var(--strength-very-strong);
  }
}

.pwd-strength-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--bg);
  z-index: var(--z-base);

  &.div-1 {
    left: 20%;
  }

  &.div-2 {
    left: 40%;
  }

  &.div-3 {
    left: 60%;
  }

  &.div-4 {
    left: 80%;
  }
}

.pwd-strength-text {
  margin-top: var(--space-1);
  font-size: var(--font-size-12);
  font-weight: 600;

  &.pwd-strength-very-weak {
    color: var(--strength-very-weak);
  }

  &.pwd-strength-weak {
    color: var(--strength-weak);
  }

  &.pwd-strength-fair {
    color: var(--strength-medium);
  }

  &.pwd-strength-strong {
    color: var(--strength-strong);
  }

  &.pwd-strength-very-strong {
    color: var(--strength-very-strong);
  }
}
